<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h2 th:text="'List of Vets'">List of Vets...</h2>

    <table class="table table-striped">

        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Specialty</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.firstName}">VetFirstName</td>
            <td th:text="${vet.lastName}">VetLastName</td>
            <td th:each="specialty : ${vet.specialties}"
                th:text="${specialty.description + ' '}">Specialty</td>
        </tr>
        </tbody>

    </table>
</body>
</html>